<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrival Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWTIQFWzc2Y10GAAAARAAAAP/+
	RgBpAHIAYQBDAG8AZABlAE4AZQByAGQARgBvAG4AdABDAG8AbQBwAGwAZQB0AGUATQAt
	AFIAZQBnAHUAbABhAHIAhAFmDJoAmgGaAJoAhoY=
	</data>
	<key>Death Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
	<key>Familiar Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
	<key>GM Chat Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
	<key>GM Event Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
	<key>Host Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
	<key>Main Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmaDAABAPwGGkoSXmBFOU0JhY2tncm91bmRDb2xv
	coaShJmaAYQEZmZmZgAAAAGGkoSXmAZOU0ZvbnSGkoSEhAZOU0ZvbnQelZZMhAVbNzZj
	XQYAAABEAAAA//5GAGkAcgBhAEMAbwBkAGUATgBlAHIAZABGAG8AbgB0AEMAbwBtAHAA
	bABlAHQAZQBNAC0AUgBlAGcAdQBsAGEAcgCEAWYSmgCaAZoAmgCGhg==
	</data>
	<key>Room Description Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
	<key>Thought Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmaDAABAPwGGkoSXmBFOU0JhY2tncm91bmRDb2xv
	coaShJmaAYQEZmZmZgAAAAGGkoSXmAZOU0ZvbnSGkoSEhAZOU0ZvbnQelZZMhAVbNzZj
	XQYAAABCAAAA//5GAGkAcgBhAEMAbwBkAGUATgBlAHIAZABGAG8AbgB0AEMAbwBtAHAA
	bABlAHQAZQBNAC0AUgBlAHQAaQBuAGEAAACEAWYSmgCaAZoAmgCGhg==
	</data>
	<key>Universal Fixed Font</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaUyEBVs3
	NmNdBgAAAEIAAAD//kYAaQByAGEAQwBvAGQAZQBOAGUAcgBkAEYAbwBuAHQAQwBvAG0A
	cABsAGUAdABlAE0ALQBSAGUAdABpAG4AYQAAAIQBZhKEAWMAmAGYAJgAhg==
	</data>
	<key>Voln Text Properties</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGlj
	dGlvbmFyeQCEhAhOU09iamVjdACFhAFpA5KEhIQITlNTdHJpbmcBlYQBKwdOU0NvbG9y
	hpKEhIQHTlNDb2xvcgCVhAFjA4QCZmYBAYaShJeYEU5TQmFja2dyb3VuZENvbG9yhpKE
	mZoDmwABhpKEl5gGTlNGb250hpKEhIQGTlNGb250HpWWGIQFWzI0Y10GAAAADgAAAP/+
	TQBvAG4AYQBjAG8AAACEAWYMmgCaAZoAmgCGhg==
	</data>
</dict>
</plist>
