<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>whispers to the group,</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg83MzD4BAQGG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<false/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>whisper, "</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg83MzD4BAQGG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<false/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>signals, "</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQCDj46QPgGG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<false/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>signal, "</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQCDj46QPgGG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<false/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>You sense a successful empathic link has been forged </string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAYO07Xg/g+5Cwz4Bhg==
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<false/>
	</array>
	<array>
		<string>You sense your empathic link with </string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAYO07Xg/g+5Cwz4Bhg==
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<false/>
	</array>
	<array>
		<string>[Focused-to-</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAYO07Xg/g+5Cwz4Bhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Obvious exits:</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg4SPgz6DFAUSP4PC7ns/AYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Obvious paths:</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg4SPgz6DFAUSP4PC7ns/AYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>[General]</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg4RIFz6DEqEpP4NnWjk/AYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIO4E+c9g5OUkT4Bhg==
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>[Help]</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg3xr7z6DdC5wPoPu8z0/AYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIO4E+c9g5OUkT4Bhg==
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>[Realm]</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg4BNXz+DXuPmPgABhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIO4E+c9g5OUkT4Bhg==
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>at you!</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAYO07Xg/g+5Cwz4Bhg==
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<false/>
	</array>
	<array>
		<string>of damage</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg63/fz8BAQGG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQCDj46QPgGG
		</data>
		<true/>
		<false/>
		<true/>
		<string></string>
		<false/>
	</array>
	<array>
		<string>the body of </string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQCDj46QPgGG
		</data>
		<true/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>you </string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIO4E+c9g5OUkT4Bhg==
		</data>
		<false/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Calphion</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIOasH8/gxSMvT4Bhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<false/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Eleazzar</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIOasH8/gxSMvT4Bhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<false/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Malhander</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIOasH8/gxSMvT4Bhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIO4E+c9g5OUkT4Bhg==
		</data>
		<false/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Raelik</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIOasH8/gxSMvT4Bhg==
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAIO4E+c9g5OUkT4Bhg==
		</data>
		<false/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Also here:</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg4SPgz6DFAUSP4PC7ns/AYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<true/>
		<false/>
		<false/>
		<string></string>
		<true/>
	</array>
	<array>
		<string>Exp until lvl:</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAYO07Xg/g+5Cwz4Bhg==
		</data>
		<false/>
		<false/>
		<true/>
		<string></string>
		<false/>
	</array>
	<array>
		<string>Deeds: 0</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQCDj46QPgGG
		</data>
		<false/>
		<false/>
		<false/>
		<string></string>
		<false/>
	</array>
</array>
</plist>
